body {
    font-family: 'Jost', sans-serif;

    padding: 0;
    margin: 0;
    font-size: 20px;
}

div, p, input, button{
    box-sizing: border-box;
}

@font-face {
	font-family: 'bison';
	src: url('/fonts/bison.eot');
	src: local('☺'), url('fonts/bison.woff') format('woff'), url('fonts/bison.ttf') format('truetype'), url('fonts/bison.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700;900&display=swap');

h1 {
    /* Worldwide Software Architecture Summit */
    display: block;
    padding-bottom: 30px;
    max-width: 690px;
    margin: 0;

    font-family: Bison, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 84px;

    /* Main */
    color: #73F9BC;
}

h2{
    margin: 0;
    padding: 0;
    text-align: center;
}

h3, h4{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexContainer{
    display: flex;
}

.wraper{
    width: 1160px;
    margin: 0 auto;
}

.wrap2{
    padding-right: 150px;
}

.header{
    background-color: black;
}

.menuList{
    display: flex;
}

.menuList ul  {
    display: block;
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}

.menuList a{
    color: white;
    padding: 0 32px;
    font-family: Bison, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

}


.main1{
    background: url('/images/Rectangle574.png'), url('/images/Frame4711.png');
    padding-top: 76px;

}

.statu{
    width: 536px;
    height: 618px;
    left: 1004px;
    top: 147px;
}

.bigText{
    /* ONLINE, JANUARY 26-27. DURATION: 10:00-19:00 */

    font-family: Bison, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;

    color: #73F9BC;
    background: #171716;

    border: 1px solid #73F9BC;  
}

.textBlocks p{
    margin: 0;
}

.textBlocks .text2{
    padding-bottom: 10px;
}

.text2{
    display: block;
    padding-bottom: 10px;

    font-family: Bison, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;
    opacity: 0.5;
}

.text3{
    display: block;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 120%;
    /* or 42px */


    /* White */

    color: #FFFFFF;
    opacity: 0.5;
}

.text4{
    display: block;

    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 120%;

    color: #73F9BC;
}

.block2 img{
    display: block;
    width: 100%;
    height: auto;
}

.logoImage{
    display: block;
    height: 62px;
    width: 80px;
    background-image: url("/images/logo.svg");
    background-repeat: no-repeat;
}

.textBlocks .btn{       /*buy ticket btn*/
    display: block;
    width: 360px;
    margin-top: 40px;
    padding: 9px 0;

    font-family: Bison, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: black;
    background-color:white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.agenda{
    font-family: Jost;
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 173px;
    padding-top: 150px;
    margin: 0;

    color: #73F9BC;
    text-align: center;
    text-transform: uppercase;
}

.main2{
    background-color:black;
}

.timeZone{
    font-family: Bison;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    text-align: center;

    /* White */

    color: #FFFFFF;
}

.textTimeZone{
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    padding-bottom: 50px;
    /* identical to box height */

    text-align: center;

    /* White */

    color: #FFFFFF;
}

.chooseTime .time{
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    border: 1px solid #FFFFFF;
    padding: 17px 75px;
    /* identical to box height */

    /* White */

    color: #FFFFFF;
}

.chooseTime .time:hover{
    background-color:#73F9BC;
    color:black;
}

.chooseTime{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;

}

.chooseTime a{
    display: block;
    text-decoration: none;
}

.tracks{
    display: flex;
    justify-content: center;
}
.tracks .title a{
    font-family: Jost;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 115px;

    display: block;
    color: white;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

.tracks .title a:hover{
    color:#73F9BC;
}

.textTrack{
    font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 43px;
text-align: center;
margin: 0;
margin-bottom: 50px;

/* White */

color: #FFFFFF;
}

.main3{
    background-color:black;
}

.titleLastBlock{
    font-family: Jost;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 50px;
    color: #171716;

    text-align: center;
    background-color:#73F9BC;
    margin: 0;
}

.peopleContainer{
    display:flex;
    justify-content: center;
}

.peopleContainer .left{
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.peopleContainer .right{
    border: 1px solid #FFFFFF;
}

.OneManBlock .item{
    display: flex;
    flex-direction: column;

     
}

.peopleContainer .left{
    display: flex;
    flex-direction: column;
}

.OneManBlock{
    display: flex;
    border-bottom: 1px solid #FFFFFF; 
}

.OneManBlock .time{
    font-family: Bison;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
padding-left: 40px;


/* Main */

color: #73F9BC;
}

.OneManBlock .name{
    font-family: Jost;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
padding: 10px 0 20px 40px;


/* White */

color: #FFFFFF;
}

.OneManBlock .logoCompany{
    padding-left: 40px;
}

.foto img{
    padding: 25px 40px;
}

.RightBlock p{
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;

    color: #FFFFFF;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}

.buttons a{
    display: block;
    text-align: center;
    text-decoration: none;

    margin-right: 40px;
    padding: 5px 35px;
    font-family: Bison;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.buttons a:hover{
    color: #171716;
    background: #73F9BC;
}